---
import AuthForm from '@/components/ui/AuthForm';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <h1 class="text-2xl font-bold text-center mb-4">Recover Your Password</h1>
    <AuthForm client:load type="recover" />
</Layout>
