---
import '../styles/global.css';
import { Toaster } from '@/components/ui/sonner';
import Header from '@/components/Header.astro';
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>10xCards</title>
    </head>
    <body class="bg-gray-100">
        <Header />
        <main class="m-8">
            <slot />
        </main>
        <Toaster client:load />
    </body>
</html>
